<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
    	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>fufudai order</title>
    </head>
    <body>
        <h1>qcmall</h1>

        $screen_content

        <hr />
        Copyright &copy 2017 qcmall
    </body>
</html>